<main>

    <section id="section-banner"></section>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/img/fortnite.jpg" class="d-block w-100" alt="Promoção de Jogo">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/img/Subway.jpg" class="d-block w-100" alt="Jogo do Ano">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/img/free-fire.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>

<h2>Computadores em Promoção</h2>
<mat-grid-list cols="3">
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="/assets/img/img/pc3.png" alt="Computador 1">
        
            <mat-card-header>
              <mat-card-title>COMBO GAMER</mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
              <p>
                Computador Gamer Pc Completo Intel Core i5 8GB SSD 512GB 
              </p>
            </mat-card-content>
            <mat-card-actions>
              <P>R$1.750,00</P>
              <button mat-button>COMPRAR</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="/assets/img/img/pc2.png" alt="Computador2">
        
            <mat-card-header>
              <mat-card-title>COMBO COMUM</mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
              <p>
                Computador DC Completo Core I3, 08gb, SSD, Monitor
              </p>
            </mat-card-content>
            <mat-card-actions>
              <P>R$1.189,00</P>
              <button mat-button>COMPRAR</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="/assets/img/img/pc3.png" alt="Computador 3">
        
            <mat-card-header>
              <mat-card-title>COMBO GAMER 2</mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
              <p>
                PC Gamer Completo 3green Play Intel Core i5 16GB RAM Placa de vídeo Geforce 4GB SSD 256GB Monitor 20"

              </p>
            </mat-card-content>
            <mat-card-actions>
              <P>R$1.750,00</P>
              <button mat-button>COMPRAR</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
  

  